.links button {
    background-color: green;
}

.links button:hover {
    background-color: rgb(0, 110, 0);
}

.links button:active {
    background-color: rgb(0, 85, 0);
}

.links {
    display: flex;
    flex-direction: column;
    margin-top: 5vw;
}